/*

Header Shared

*/


* {
    box-sizing: border-box;
    padding: 1px;
    background: #88bdbc;
    color: white;
    text-decoration: none;
}

.header-wrapper {
    border-radius: 10px;
    max-width:  800px;
    margin: 0 auto;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    background: #254e58;
    margin-bottom: 10px;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}

.header-nav {
    display: flex;
    width: 100%;
    background: inherit;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: solid 2px #6e6658;
    border-radius: 10px 10px 0px 0px;
}

.header-homelink {
    background: inherit;
    flex-grow: 3;
    border-radius: 10px;
}

.title-wrapper {
    background: inherit;
    font-size: 2em;
}

/*

Form Shared

*/


.form-wrapper {
    font-family: sans-serif;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    background: #254e58;
}


form {
    background: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cancel {
    background: inherit;
}

.form-confirm {
    background: inherit;
}


input[type=text] {
    border-radius: 5px;
}

button[type=submit] {
    background: grey;
}

label {
    background: inherit;
}

em {
    background: inherit;
}