<html>
  <head>
    <title>Create Menu Item</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='add_menu_item.css')}}" rel="stylesheet">
  </head>
  <body>
    <header class="header-wrapper">
      <nav class="header-nav">
        <a class="header-homelink" href="{{url_for('list_restaurants')}}">Home</a>
      </nav>
      <div class="title-wrapper">Create New Menu Item</div>
    </header>
    <section class="form-wrapper">
      <form action="{{url_for('add_menu_item',
                               restaurant_id=restaurant_id)}}"
                               method="POST">
        <label>Enter name of new menu item
          <input type="text" name="new_item">
        </label>
        <button type='submit'>Submit</button>
        <a class="form-cancel" href="{{url_for('list_menu_items',
                           restaurant_id=restaurant_id)}}">Cancel</a>
      </form>
    </section>
  </body>
</html>
