<html>
  <head>
    <title>Edit Restaurant</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Home</a>
      </nav>
      <h1>Edit Restaurant</h1>
    </header>

    <form action="{{url_for('edit_restaurant',
                             restaurant_id=restaurant_id)}}"
                             method="POST">
      <label>Enter new name of Restaurant
        <input type="text" name="new_name" placeholder="{{name}}">
      </label>
      <button type='submit'>Submit</button>
      <a href="#">Cancel</a>
    </form>
  </body>
</html>
