<html>
  <head>
    <title>Menu</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="{{url_for('add_menu_item',
                            restaurant_id=restaurant_id)}}">
        Create New Menu Item</a>
      </nav>
      <h1>{{rest_name}}</h1>
    </header>

    {% for item in items %}
    <article>
      <h3>{{item['name']}}</h3>
      <p>{{item['description']}}</p>
      <p>{{item['price']}}</p>
      <div>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      <div>
    </article>
    {% endfor %}

  </body>
</html>
