<html>
  <head>
    <title>Restaurant List</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="{{url_for('add_restaurant')}}">Create Restaurant</a>
      </nav>
      <h1>Restaurant List</h1>
    </header>

    {% for restaurant in restaurants %}
    <article>
      <h3>{{restaurant['name']}}</h3>
      <div>
        <a href="{{url_for('edit_restaurant',
                            restaurant_id=restaurant['Id'])}}">Edit</a>
        <a href="#">Delete</a>
      <div>
    </article>
    {% endfor %}

  </body>
</html>
