<html>
  <head>
    <title>Restaurant List</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{{url_for('add_restaurant')}}">Create Restaurant</a>
      </nav>
      <h1>Restaurant List</h1>
    </header>

    {% for restaurant in restaurants %}
    <article>
      <h3><a href="{{url_for('list_menu_items',
                              restaurant_id=restaurant.Id)}}">{{restaurant.name}}</a></h3>
      <div>
        <a href="{{url_for('edit_restaurant',
                            restaurant_id=restaurant.Id)}}">Edit</a>
        <a href="{{url_for('delete_restaurant',
                            restaurant_id=restaurant.Id)}}">Delete</a>
      <div>
    </article>
    {% endfor %}

  </body>
</html>
